<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nozama</title>
</head>

<body>
<%= render 'navbar' %>

<table class="table">
    <thead>
        <tr>
            <td>Title</td>
            <td>Price</td>
            <td>Author</td>
        </tr>
    </thead>
    <tbody>
        <% Book.all.each do |book| %>
            <tr>
                <td><%= book.title %></td>
                <td><%= book.price %></td>
                <td><%= "#{book.user.first_name} #{book.user.last_name}" %></td>
                <td><%= link_to 'edit', edit_book_path(book) %></td>
                <td><%= link_to 'show', book %></td>
            </tr>
        <% end %>
    </tbody>
</table>

</body>

</html>