
<p id="notice"><%= notice %></p>

<p>
  <% if @book.bookImage.attached? %>
    <%= image_tag @book.bookImage, width: 250 %>
    <% else %>
    <%= image_tag "blankcover.jpg", width: 250, alt: "Default image" %>
    <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Posted by:</strong>
  <%= "#{@book.user.first_name} #{@book.user.last_name}" %>
</p>
 

| <%= link_to 'Back', root_path %> |
<%= link_to 'Buy now!', root_path %> |
<br /> <br />
<!--  checks if user is an admin before displaying delete button or the owner of the listing -->
<% if user_signed_in? && (current_user.has_role?(:admin) || current_user.id === @book.user_id)%>
| <%= link_to 'Delete', @book, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_book_path(@book) %> |
<% end %>